<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">

    <h1>Available files</h1>

    <f:if condition="{templates}">
        <h2>Templates</h2>
        <f:render partial="Files" arguments="{files:templates, script:script, prefix:'Templates/'}"/>
    </f:if>

    <f:if condition="{partials}">
        <h2>Partials</h2>
        <f:render partial="Files" arguments="{files:partials, script:script, prefix:'Partials/'}"/>
    </f:if>

</f:section>

</html>
