<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">

    <h1>{file} <span class="smaller">(<a href="{script}">back</a>)</span></h1>

    <h2>Sample Output</h2>
    <iframe src="{script}?file={file}&amp;standalone=1" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>

    <h2>Data</h2>
    <pre><code>{data}</code></pre>

    <h2>Template</h2>
    <pre><code>{template}</code></pre>

    <script type="text/javascript">
        $(document).ready(function() {
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
        });
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>
</f:section>

</html>
